//-
//- index.jade -- ARTICLES LISTING
//-

include ../_common.jade

.article-listing
	for post, slug in public.blog._data
		unless post.excludeFromLists
			article(itemscope, itemtype="http://schema.org/BlogPosting")
				header
					h2.article-title: a(href="/#{ current.path[0] }/#{ slug }#{ fileType }", itemprop="name")= post.title
				.article-deck-body
					p.text-muted.article-metadata: small
						+a_datePublished(post.date)
						| &nbsp;&middot;&nbsp;
						span(itemprop="author")
							each author, a in post.authors
								= author
								unless a == post.authors.length-1
									| ,&nbsp;
					p(itemprop="description")= post.deck
						| &nbsp;
						a(href="/#{ current.path[0] }/#{ slug }#{ fileType }", title="Read #{ post.title }") Read &raquo;