include _common.jade

doctype html
html(prefix="og: http://ogp.me/ns#", lang="en-CA", dir="ltr")
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		
		title= (title ? title + ' - ' :'') + siteName
		if (description || deck)
			meta(name="description", content="#{ description ? description : deck ? deck : '' }")

		if tags
			meta(name="keywords", content="#{ tags.length ? tags.join(', ')+', ' : '' }")

		meta(property="og:title", content="#{ title ? title : siteName }")
		meta(property="og:site_name", content="#{ siteName }")
		meta(property="og:url", content="https://#{ siteURL }/#{ current.path.join('/') }#{ fileType }")
		meta(property="og:type", content="article")
		if (description || deck)
			meta(property="og:description", content="#{ description ? description : deck ? deck : '' }")
		if imageURL
			meta(property="og:image", content="#{ imageURL }")
			meta(name="twitter:card", content="summary_large_image")

		meta(name="twitter:site", content="@andrewjwright")
		meta(name="twitter:url", content="https://#{ siteURL }/#{ current.path.join('/') }#{ fileType }")
		//- No need to repeat because they'll be acquired from the og: properties.
		//-meta(name="twitter:title", content="#{ title ? title : 'blendConcepts'}")
		//-meta(name="twitter:description", content="#{ description ? description : deck ? deck : '' }")
		//-if imageURL
			meta(name="twitter:image", content="#{ imageURL }")

		link(rel="stylesheet", href="/assets/css/bootstrap.min.css")
		link(rel="stylesheet", href="/assets/css/main.css?v=20200111")
	body
		if !debug
			//-- Google Tag Manager --
			script.
				var dataLayer = [{ 'isBlog' : 'true' }];
			noscript
				iframe(src="//www.googletagmanager.com/ns.html?id=GTM-N8PJ4S", height="0", width="0", style="display:none;visibility:hidden")
			script.
				(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-N8PJ4S');
			//-- End Google Tag Manager --

		.container-fluid#masthead
			.col-sm-12.col-med-12.col-lg-12
				a(href="/blog/")
					h2 blendedConcepts
					span &nbsp;&mdash;&nbsp;thoughts on user experience, information architecture, content modelling, and how we make sense of it all.&nbsp;
					span.__on-hover View all articles

		.container-fluid.content-frame
			block core
		
		.container-fluid
			footer
				+a_standardRow
					hr
					.text-center
						span.text-muted Find and follow me
						br
						a(href="http://twitter.com/andrewjwright", title="Follow @andrewjwright on Twitter") @andrewjwright
						+a_spacer
						a(href="http://ca.linkedin.com/in/wrightaj/", title="Connect with Andrew J Wright on LinkedIn") LinkedIn
					br
					br
